.index__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.index__form__bs {
  width: 740px !important;
}

@media only screen and (max-width: 380px) {
  .index__form__bs {
    width: 350px !important;
  }
}
